.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: inherit;
}

.App-link:hover {
  color: inherit;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-transition {
  transition: 0.3s;
}

.App-section-discover {
  /* height: 100%; */
  font-size: xx-large;
  background-color: #8acb88;
  cursor: pointer;
}

.App-section-discover:hover {
  background-color: #e4fde1;
}

.App-section-share {
  /* height: 100%; */
  font-size: xx-large;
  background-color: #648381;
  cursor: pointer;
}

.App-section-share:hover {
  background-color: #e4fde1;
}
